@page
@using Microsoft.AspNetCore.Mvc.Localization
@using HQSOFT.Common.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using HQSOFT.Common.Web.Pages.Common.HQShares
@using HQSOFT.Common.HQShares;
@using System.Globalization
@inject IHtmlLocalizer<CommonResource> L
@model CreateModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Common/HQShares/CreateModal" autocomplete="off">
    <abp-modal id="HQShareCreateModal">
        <abp-modal-header title="@L["NewHQShare"].Value"></abp-modal-header>

        <abp-modal-body>
                    

            <abp-input asp-for="HQShare.IDParent"   />


            <abp-input asp-for="HQShare.CanRead"   />


            <abp-input asp-for="HQShare.CanWrite"   />


            <abp-input asp-for="HQShare.CanSubmit"   />


            <abp-input asp-for="HQShare.CanShare"   />

                    <div class="form-group">
                <label for="HQShare_IdentityUserId">@L["IdentityUser"]</label>
                <select id="HQShare_IdentityUserId"
                        class="custom-select form-control"
                        name="HQShare.IdentityUserId"
                        data-value="@Model.HQShare.IdentityUserId" >
                </select>
            </div>

                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>